<div class="col-sm-12">
  <a href="<%= new_url_path%>" class="btn btn-primary">New URL</a>
</div>
<div class="col-sm-12">
  <h1>URLs</h1>
  <table class="col-sm-12 table table-striped">
    <thead>
      <tr>
	<td>
	  Index
	</td>
	<td>
	  Url
	</td>
	<td>
	  Short Url
	</td>
	<td>
	  Count
	</td>
      </tr>
    </thead>
    <tbody>
      <%- @urls.each_with_index do |url, index| %>
      <tr>
	<td>
	  <%= index %>
	</td>
	<td>
	  <%= url.url %>
	</td>
	<td>
	  <a href="/<%= url.short_url %>" target="_blank"><%= request.env['HTTP_HOST'] %>/<%= url.short_url %></a>
	</td>
	<td>
	  <%= url.hits %>
	</td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>
